<p>
	Java is a statically typed language. this means that the types are declared on variables and compilation will fail if an expected type is not received.

	Java primitive types are:

	<ul>
		<li>byte</li>
		<li>short</li>
		<li>int</li>
		<li>long</li>
		<li>float</li>
		<li>double</li>
		<li>boolean</li>
		<li>char</li>
		<li>String (not really a primitive type but has a special place on the language)</li>
	</ul>

	<a href="http://docs.oracle.com/javase/tutorial/java/nutsandbolts/datatypes.html">Data Types Reference</a>
</p>