<p>
Java was created by James Gosling and Sun Microsystems. Java is a general-purpose computer programming language that is concurrent, class-based, object-oriented and specifically designed to have as few implementation dependencies as possible. It is intended to let application developers "write once, run anywhere" (WORA). Java is, as of 2015, one of the most popular programming languages in use, particularly for client-server web applications, with a reported 9 million developers
</p>

<p>
When compiled Java programs create a compiled version of the source file (extension .class) which contains bytecode. <a href="http://en.wikipedia.org/wiki/Java_virtual_machine">Java Virtual Machine</a> implementations are able to understand and run <a href="http://en.wikipedia.org/wiki/Java_bytecode">bytecode</a> instructions (translate them into something that actual processors can understand).
</p>

<p>
Java was born as a need to have portable and compiled code. Sun microsystems main goal was to sell processors that run bytecode as native instructions with this Java programs run fast as C or C++ programs.
</p>


References:
<a href="http://en.wikipedia.org/wiki/Java_%28programming_language%29" target="_blank">More on this on Wikipedia</a>