Object-oriented programming (OOP) is a paradigm organized around objects rather than "actions" and data rather than logic.
The first step in OOP is to identify all the objects the programmer wants to manipulate and how they relate to each other, an exercise often known as data modeling. Once an object has been identified,  it is generalized as a class of objects (think of Plato's concept of the "ideal" chair that stands for all chairs) which defines the kind of data it contains and any logic sequences that can manipulate it. Each distinct logic sequence is known as a method. Objects communicate with well-defined interfaces called messages.

<h2>What is class?</h2>
<p>A class is the blueprint from which individual objects are created.</p><a href="https://docs.oracle.com/javase/tutorial/java/concepts/class.html">Source</a>


<h2>What is an object?</h2>
<p>An object is an instance of class.</p>
<p>Objects are the <b>key</b> to understanding <i>object-oriented</i> technology</p>
<p>An object consists of a:<p>
<ul>
	<li><b>Fields / Attributes</b>: Used to store the <i>state</i> of an object.</li>
	<li><b>Methods</b>: Used to expose the objects's <i>behavior</i>. They operate on an object's internal state and serve as the primary mechanism for object-to-object communication. </li>
</ul>

<h2>Benefits of OOP</h2>
<ul>
	<li>Modularity</li>
	<li>Information0hiding</li>
	<li>Code re-use</li>
	<li>Pluggability and debugging ease</li>

</ul>

<a href="https://docs.oracle.com/javase/tutorial/java/concepts/object.html">Read more</a>