<p>Encapsulation is the packing of data and functions into a single component. It allows selective hiding of properties and methods in an object by building an impenetrable wall to protect the code from accidental corruption.</p>
<p>Data encapsulation is a fundamental principle to OOP. It means <i>hiding internal state and requiring all interaction to be performed through an object's methods</i>.</p>

<a href="http://en.wikipedia.org/wiki/Encapsulation_%28object-oriented_programming%29" target="_blank">Read More</a>