Al finalizar la unidad, el alumno será capaz de:
<ul>
<li>
	Identificar correctamente las características del lenguaje Java para concretizar la teoría de programación orientada a objetos
</li>

<li>
	Diseñar y desarrollar aplicaciones orientadas a objetos utilizando el lenguaje de programación Java
</li>
<li>
Hacer uso de las librerías estándar de la plataforma Java
</li>
<li>
Escribir código protegido (manejo de excepciones)
</li>
<li>
Codificar de forma clara y concisa
</li>
<li>
Reafirmar sus habilidades para modelar y diseñar sistemas utilizando los diagramas de UML más utilizados en aplicaciones Java
</li>
</ul>