
<p>
    A filter is a Java class that is used to pre-process the request or post-process the response on a Java web application. The container sends the request fo the filter chain before sending it to a servlet.
</p>
Keypoints:
<ul>
    <li>Should implement javax.servlet.Filter</li>
    <li>Filter must be mapped in the web.xml to be considered by the container.</li>
    <li>Filter must invoke chain#doFilter() if the request is supposed to get to the servlet, alternatively the filter can write the output directly.</li>
    <li>Some Filter usages are : statistics, compression, security, auditing..</li>
</ul>

<a href="http://docs.oracle.com/cd/B14099_19/web.1012/b14017/filters.htm" target="_blank">More on filters...</a>
