Java technology is both a programming language and a platform. 

<p>The Java programming language is a high-level object-oriented language that has a particular syntax and style. A Java platform is a particular environment in which Java programming language applications run.</p>

<h3>The Java Programming Language Platforms</h3>

<p>All Java platforms consist of a Java Virtual Machine (VM) and an application programming interface (API).</p>

<p>The Java Virtual Machine is a program, for a particular hardware and software platform, that runs Java technology applications.</p>

<p>An API is a collection of software components that you can use to create other software components or applications.</p> 

<p>Each Java platform provides a virtual machine and an API, and this allows applications written for that platform to run on any compatible system with all the advantages of the Java programming language: platform-independence, power, stability, ease-of-development, and security.</p>

<h4>Java Platform, Standard Edition (Java SE)</h4>

<p>When most people think of the Java programming language, they think of the Java SE API. Java SE's API provides the core functionality of the Java programming language. It defines everything from the basic types and objects of the Java programming language to high-level classes that are used for networking, security, database access, graphical user interface (GUI) development, and XML parsing.</p>

<p>In addition to the core API, the Java SE platform consists of a virtual machine, development tools, deployment technologies, and other class libraries and toolkits commonly used in Java technology applications.</p>

<a href="http://docs.oracle.com/javase/" target="_blank">More...</a>

<h4>Java Platform, Enterprise Edition (Java EE)</h4>

<p>The Java EE platform is built on top of the Java SE platform. The Java EE platform provides an API and runtime environment for developing and running large-scale, multi-tiered, scalable, reliable, and secure network applications.</p>

<p>Java EE is the standard in community-driven enterprise software. Java EE is developed using the Java Community Process, with contributions from industry experts, commercial and open source organizations, Java User Groups, and countless individuals. Each release integrates new features that align with industry needs, improves application portability, and increases developer productivity.</p>

<a href="http://docs.oracle.com/javaee/" target="_blank">More...</a>


<h4>Java Platform, Micro Edition (Java ME)</h4>

<p>The Java ME platform provides an API and a small-footprint virtual machine for running Java programming language applications on small devices, like mobile phones. The API is a subset of the Java SE API, along with special class libraries useful for small device application development. Java ME applications are often clients of Java EE platform services.</p>


<a href="http://docs.oracle.com/javame/" target="_blank">More...</a>

<h4>JavaFX</h4>

<p>JavaFX is a platform for creating rich internet applications using a lightweight user-interface API. JavaFX applications use hardware-accelerated graphics and media engines to take advantage of higher-performance clients and a modern look-and-feel as well as high-level APIs for connecting to networked data sources. JavaFX applications may be clients of Java EE platform services.</p>

<a href="http://docs.oracle.com/javafx/" target="_blank">More...</a>


<h4>Reference</h4>

<ul>
	<li><a href="http://docs.oracle.com/javaee/6/firstcup/doc/gkhoy.html#gcrkk">The Java Programming Language Platforms</a></li>
</ul>
