The JDBC API is the industry standard for database-independent connectivity between the Java programming language and a wide range of databases. The JDBC API provides a call-level API for SQL-based database access. JDBC technology allows you to use the Java programming language to exploit "Write Once, Run Anywhere" capabilities for applications that require access to enterprise data.

<h4>Reference</h4>

<ul>
	<li><a href="http://www.oracle.com/technetwork/java/overview-141217.html">JDBC</a></li>
	<li><a href="http://docs.oracle.com/javase/8/docs/technotes/guides/jdbc/">Java JDBC API</a></li>
	<li><a href="http://docs.oracle.com/javase/tutorial/jdbc/index.html">JDBC Tutorial</a></li>
</ul>