<p>
    JavaServer Pages (JSP) technology allows you to easily create web content that has both static and dynamic components. JSP technology makes available all the dynamic capabilities of Java Servlet technology but provides a more natural approach to creating static content.
</p>
Key points:

<ul>
    <li>It uses an expression language (EL) for accessing server-side objects</li>
    <li>It allows to combine Java code within the marking up of a page</li>
    <li>JSP file gets compiled to a servlet (this happens internally and is done by the server)</li>
    <li>It's extensible and allows new tags to be added or created
        <a href="https://jstl.java.net/">(JSTL)</a>
    </li>
    <li>EL has acces to the following
        <a href="http://docs.oracle.com/javaee/5/tutorial/doc/bnahq.html#bnaij">implicit objects</a>
    </li>
    <li>JSP allows scriptlets, scriptlet expressions, and scriptlet declarations unless scripting-invalid is specified in the web.xml {% gist ferzerkerx/087cbb58ea777a7c8332 %}</li>
</ul>
<a href="http://docs.oracle.com/javaee/5/tutorial/doc/bnagx.html" target="_blank">More on JSP</a>