<p>
    JSTL is an example of the extensibility JSP provides and some of them are very useful since they allow to perform common tasks without the need of scriptlets (java code within JSP)
</p>
<p>
    <a href="http://docs.oracle.com/javaee/5/tutorial/doc/bnakh.html#bnakk">You can perform control flow operations using JSTL</a>
    .
    <br />
    JSTL won't solve all the design problems, so still need to pay attention on how you are using tags.
</p>
<br />
<a href="http://docs.oracle.com/javaee/5/tutorial/doc/bnake.html" target="_blank">More on JSTL</a>.
