<p>
    Listeners are Java classes that implement an interface (javax.servlet. or javax.servlet.http.) that allows them to "listen" specific events in a Java Web application.
</p>
Keypoints:
<ul>
    <li>There are 2 main categories of listeners: Session, Servlet (application-level)</li>
    <li>Each category has 2 subcategories: attribute listener, life cycle listener</li>
</ul>


<a href="http://docs.oracle.com/cd/B14099_19/web.1012/b14017/filters.htm#sthref269" target="_blank">More on listeners</a>