El alumno será capaz de utilizar tecnologías de la plataforma industrial Java (Enterprise Edition) para implementar una aplicación Web de moderada complejidad. Al finalizar el curso, el alumno será capaz de aplicar los conocimientos adquiridos en la construcción de sus futuros proyectos, reduciendo su tiempo de desarrollo y consiguiendo resultados que demuestren eficiencia, robustez, flexibilidad y solidez.

<h3>Contenido Temático</h3>

<ol>
	<li>Introducción a JDBC (Java DataBase Connectivity)</li>
	<li>Java Servlets</li>
	<li>JavaServer Pages</li>
	<li>JSP Tag Libraries</li>
	<li>Model View Controller revisado</li>
	<li>Model View Controller en acción: Frameworks</li>
</ol>