<p>
   The Spring Web model-view-controller (MVC) framework is designed around a DispatcherServlet that dispatches requests to handlers, with configurable handler mappings, view resolution, locale, time zone and theme resolution as well as support for uploading files. The default handler is based on the @Controller and @RequestMapping annotations, offering a wide range of flexible handling methods. With the introduction of Spring 3.0, the @Controller mechanism also allows you to create RESTful Web sites and applications, through the @PathVariable annotation and other features.
</p>

<p>
	<figure>
		<img src="{{ site.baseurl }}/images/spring-mvc-request-processing-workflow.png" height="362" width="600">
		<figcaption>The request processing workflow in Spring Web MVC (high level)</figcaption>
	</figure>
</p>

<h4>Reference</h4>
<ul>
	<li><a href="http://docs.spring.io/spring/docs/current/spring-framework-reference/html/mvc.html" target="_blank">Spring MVC</a></li>
	<li><a href="http://docs.spring.io/spring/docs/current/spring-framework-reference/html/testing.html#unit-testing-spring-mvc" target="_blank">Spring MVC Unit Testing</a></li>
</ul>