<table>
    {% for homework in site.data.scores.homework %}
    <tr>
        <td>
            {% if homework.name != 'Name' %}
            <img src="{{ site.baseurl }}/images/rebel.png" height="25" width="25">
            <a href="https://github.com/{{ homework.github }}" target="_blank">{{homework.name}}</a>
            {% else %}
            {{homework.name}}
            {% endif %}
        </td>
        <td>{{homework.ev1}}</td>
        <td>{{homework.ev2}}</td>
        <td>{{homework.ev3}}</td>
        <td>{{homework.ev4}}</td>
        <td>{{homework.ev5}}</td>
        <td>{{homework.ev6}}</td>
        <td>{{homework.ev7}}</td>
        <td>{{homework.ev8}}</td>
    </tr>
    {% endfor %}
</table>

