<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Development Of Web Applications In Java</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/index.css">
        <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Dowa-Java</a>
                </div>


                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-right navbar-default">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Practices <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://github.com/elifloresch/dowa-java/tree/master/practices/java-io/src" target="_blank">java-io</a></li>
                                <li><a href="https://github.com/elifloresch/dowa-java/tree/master/practices/java-jdbc" target="_blank">java-jdbc</a></li>
                                <li><a href="https://github.com/elifloresch/dowa-java/tree/master/practices/java-misc-exercises" target="_blank">java-misc-exercises</a></li>
                                <li><a href="https://github.com/elifloresch/dowa-java/tree/master/practices/java-misc-exercises" target="_blank">java-misc-exercises</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/elifloresch/dowa-java/tree/master/practices/java-web/HelloWorldWebApplication" target="_blank">HelloWorldWebApplication</a></li>
                                <li><a href="https://github.com/elifloresch/dowa-java/tree/master/practices/java-web/HelloWorldServletMvcWebApplication" target="_blank">HelloWorldServletMvcWebApplication</a></li>
                                <li><a href="https://github.com/elifloresch/dowa-java/tree/master/practices/java-web/HelloWorldFilterWebApplication" target="_blank">HelloWorldFilterWebApplication</a></li>
                                <li><a href="https://github.com/elifloresch/dowa-java/tree/master/practices/java-web/HelloWorldSessionWebApplication" target="_blank">HelloWorldSessionWebApplication</a></li>
                                <li><a href="https://github.com/elifloresch/dowa-java/tree/master/practices/java-web/HelloWorldSpringMvcApplication" target="_blank">HelloWorldSpringMvcApplication</a></li>

                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>