<h1>Republic credits</h1>
Credits were a standardized form of currency in use throughout the Galactic Republic and later the Galactic Empire.

From time to time we will hava little contests / challenges in groups of 2 or 3 students. Each team will earn <i>Republic Credits</i> as follows:
<ul>
	<li>2 credits: if team answers / finishes an exercise <b>first</b></li>
	<li>1 credit: if team answers / finishes an exercise</li>
</ul> 

This means that the team that does <i>not</i> answer / finish an exercise will <i>not</i> earn any credits.

Creds can be exchanged by different items only available in the DoWA Java Territories of the Galactic Republic :-)

May the force be with you!

<h2>Participants & Creds</h2>
<table>
  <tr>
    <th>Name</th>
   <th>Creds</th>
  </tr>
  <tr>
    <td>Jesus Andres Morales Ramos</td>
    <td>6</td>
  </tr>
  <tr>
    <td>Ivan Duarte</td>
    <td>6</td>
  </tr>
  <tr>
    <td>Ivan Jimenez Landa</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Antonio de Jesus Garcia Chavez</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Miguel Angel Garcia Martinez</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Miriam Rodriguez</td>
    <td>0</td>
  </tr>
</table>

