<div class="col-md-3" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
        <ul>
            <li> Unit one
        <ul class="nav bs-docs-sidenav">
            {% for items in site.data.unit_one.index.items %}
            <li class="">
                <a href="unit_one.html#{{items.item.id}}">{{items.item.name}}</a>
            </li>
            {% endfor %}
        </ul>
</li>
<li> Unit two
        <ul class="nav bs-docs-sidenav">
            {% for items in site.data.unit_two.index.items %}
            <li class="">
                <a href="unit_two.html#{{items.item.id}}">{{items.item.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
         </ul>
    </nav>
</div>