Software design principles represent a set of guidelines that helps us to avoid having a bad design. According to author Robert C. Martin are 3 important characteristics of a bad design that should be avoided:

<ul>
	<li>Rigidity - It is hard to change because every change affects too many other parts of the system.</li>
	<li>Fragility - When you make a change, unexpected parts of the system break.</li>
	<li>Immobility - It is hard to reuse in another application because it cannot be disentangled from the current application.</li>
</ul>

A <b>design principle</b> is a basic tool or technique that can be applied to designing or writing code to make that code more
<ul>
	<li>maintainable</li>
    <li>flexible</li>
    <li>extensible</li>
 </ul>

 <h3>OO Principles</h3>
 <ul>
 	<li><b>S</b>ingle Responsability Principle</li>
 	<li><b>O</b>pen-Closed Principle</li>
 	<li><b>L</b>iskov's Substitution Principle</li>
 	<li><b>I</b>nterface Segregation Principle</li>
 	<li><b>D</b>on't repeat yourself</li>
 </ul>

 <h4>Single Reponsability Principle</h4>
Every object in your system should have single responsability and all the object's services should be focused on carrying out that single responsability.
<i>You've implemented the SRP correctly when each of your objects has <u>only one reason to change</u>.</i>
 <h4></h4>

 <h4></h4>

 <h4></h4>

 <h4></h4>



