At this point we already know:
<ul>
	<li>OO Basics</li>
	<ul>
		<li>Abstraction</li>
		<li>Encapsulation</li>
		<li>Polymorphism</li>
		<li>Inheritance</li>			
	</ul>
	<li>OO Principles</li>
	<ul>
		<li><b>S</b> ingle Responsability Principle</li>
 		<li><b>O</b> pen-Closed Principle</li>
 		<li><b>L</b> iskov's Substitution Principle</li>
 		<li><b>I</b> nterface Segregation Principle</li>
 		<li><b>D</b> on't repeat yourself</li>
	</ul>
</ul>

Now lets add the a third element to our Design Toolbox: <b>Design patterns</b>.

Design patterns are proven solutions to particular types of problems, help us structure our own applications in ways that are easier to understand, more maintable, and more flexible.


<h3>Catalog of design patterns</h3>
Design patterns vary in their granularity and level of abstraction. We can clasify patterns using two different criteria:
<ol>
	<li><b>Purpose</b>: What the pattern does. DPs are clasified in: <i>creational</i>, <i>structural< i> and <i>behavioral</i>.</li>
	<li><b>Scope</b>: Whether the pattern applies to classes or objects. <i>Class</i> patterns deal with relationships between classes and their subclasses. <i>Object</i> patterns deal with object relationships, which can be changed at run-time and more dynamic.</i></li>
</ol>

<br/>
<img src="{{ site.baseurl }}/images/gof-design-patterns-space.png" height="362" width="600"></script>
<div>Design pattern space</div>

<br/>
<div><i><a href="http://sourcemaking.com/design_patterns">Read more ...</a></i></div>

<br/>
<h4>Reference</h4>
<ul>
	<li><a href="http://www.amazon.com/Design-Patterns-Elements-Reusable-Object-Oriented/dp/0201633612/">GoF Design Patterns</a></li>
	<li><a href="http://samaratips.blogspot.mx/">Developer Notes</a>
</ul> 


<h3>Remember</h3>
<ul>
	<li>Knowing the Object Oriented basics does not make you a good designer</li>
	<li>Good OO designs are reusable, extensible and maintanable</li>
	<li>Patterns show you how to build systems with good OO desing qualities</li>
	<li>Patterns are proven object-oriented experience</li>
	<li>Patterns don't give you code, they give you general solutions to design problems. You apply them to your specific application</li>
	<li>Patterns aren't invented they are <i>discovered</i></li>
	<li>Most patterns allow some part of a system to vary independently of all other parts</li>
	<li>We often try to take what varies in a system and encapsulate it</li>
	<li>Patterns provide shared language that can maximize the value of your communication with other developers</li>
</ul>
